body {
  font-family: Arial, sans-serif;
  background: rgb(17, 175, 223);
  display: flex;
  flex-direction: column;
  margin: 0;
}

header {
  background: #128C7E;
  color: white;
  text-align: center;
  padding: 20px 0;
}

main.container {
  background: white;
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  width: 90%;
  padding: 20px;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.menu-container {
  display: flex;
  flex-direction: column; /* Apila los elementos verticalmente */
  align-items: flex-start; /* Alinea los elementos al inicio (izquierda) */
}

.flex-item {
  flex: 1 1 45%; /* Permite que los elementos crezcan y se encojan, ocupando aproximadamente la mitad del ancho  algo nuevo aprendido*/
  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  margin: 20px auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

ul li {
  display: inline;
  margin: 0 10px;
}

footer {
  background: #128C7E;
  color: white;
  text-align: center;
  padding: 10px 0;
}

@media (max-width: 768px) {
  .flex-item {
      flex: 1 1 100%; /* Los elementos ocupan todo el ancho en pantallas más pequeñas */
  }
}